<div class="container-fluid navbar-fixed" style="padding: 0;margin: 0">
  <nav>
      <div class="nav-wrapper brown darken-1 white-text">
          <a href="/home" style="padding-left: 30px" class="brand-logo">TOOTOO</a>
          <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="zawgyi" routerLink="/detail">တိုက္ရန္</a></li>
            <li><a class="zawgyi" routerLink="/search">ရွာရန္</a></li>
            <li><a class="zawgyi" routerLink="/two">555</a></li>
            <li><a class="zawgyi" routerLink="/three">666</a></li>
            <li><a class="zawgyi" routerLink="/percent">ရာခိုင္နွုန္းခ်ိုးရန္</a></li>
          </ul>
      </div>
  </nav>
  <ul class="sidenav" id="mobile-links">
    <li><a class="zawgyi" routerLink="/detail">တိုက္ရန္</a></li>
    <li><a class="zawgyi" routerLink="/search">ရွာရန္</a></li>
    <li><a class="zawgyi" routerLink="/two">၂လံုး</a></li>
    <li><a class="zawgyi" routerLink="/three">၃လံုး</a></li>
    <li><a class="zawgyi" routerLink="/percent">ရာခိုင္နွုန္းခ်ိုးရန္</a></li>
</ul>
</div>
  <div class="container">
      <h4 class="zawgyi center-text" >ရွာရန္</h4>
  </div><br><br><br>
  <div class="container">
       <div class="row">
          <div class="col s12">
              <nav>
                <div class="nav-wrapper brown darken-1 white-text">
                    <form>
                        <div class="input-field">
                            <input id="searchKey" name= "searchKey" #id (keyup.enter)="onEnter(id.value)" type="search"> required>
                            <!-- <label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
                            <i class="material-icons">close</i>
                        </div>
                        <div class="input-field col s3">
                            <label>
                                <input #name type="radio" class="with-gap" name="group1" (change) = "onChange(name.checked,'name')">
                                        <span class="zawgyi">Name</span>
                                    </label>
                            </div>
                            <div class="input-field col s3">
                                <label>
                                    <input #township type="radio" class="with-gap" name="group1" (change) = "onChange(township.checked,'township')">
                                            <span class="zawgyi">Township</span>
                                    </label>
                                </div>
                              
                                <div class="input-field col s3">
                                    <label>
                                        <input #phoneNumber type="radio" class="with-gap" name="group1" (change) = "onChange(phoneNumber.checked,'phoneNumber')">
                                                <span class="zawgyi">PhoneNumber</span>
                                            </label>
                                 </div>
                    </form>
                </div>
              </nav>
           </div>
      </div>
  </div><br><br>
  <div class="container">
    <!-- <p style="font-size: 30px;" class="zawgyi center-text">ထိုးစာရင္း</p><br><br> -->
    <table class="centered">
     <thead>
         <tr>
            <th>နံပါတ္စဥ္</th>
            <th>နာမည္</th>
            <th>ဖုန္း နံပါတ္</th>
            <th>နံပါတ္</th>
            <th>ပမာဏ</th>

         </tr>
     </thead>

     <tbody *ngIf ="afterSearch" class="centered" [(ngModel)]="afterSearch">
         <tr *ngFor="let record of afterSearch">
             <td>{{record.id}}</td>
             <td>{{record.customerName}}</td>
             <td>{{record.customerPhoneNumber}}</td>
             <td>{{record.number}}</td>
             <td>{{record.amount}}</td>
            
         </tr>
         <tr>
            <td>Total</td>
            <td></td>
            <td>:</td>
            <td></td>
            <td>{{record.total}}</td>
         </tr>
         </tbody>
</table>
</div><br><br>