
<div class="container-fluid navbar-fixed" style="padding:0;margin:0;">
    <nav>
        <div class="nav-wrapper brown darken-1 white-text">
            <a routerLink="/home" style="padding-left: 30px" class="brand-logo center">TOOTOO</a>
        </div>
    </nav>
</div>
<div class="row" style="padding-top: 20%; padding-left: 30%">
    <div class="col s6">
        <a  routerLink="/twod" class="waves-effect waves-light btn-large brown darken-1 white-text zawgyi">၂လံုး</a>
    </div>
    <div class="col s6">
        <a  routerLink="/threed" class="waves-effect waves-light btn-large brown darken-1 white-text zawgyi">၃လံုး</a>
    </div>
</div>
       