<!--                        
    <nav>
        <div class="nav-wrapper brown darken-1 white-text">
            <a routerLink="/home"style="padding-left: 30px" class="brand-logo">TOOTOO</a>
            <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="zawgyi" routerLink="/detail">တိုက္ရန္</a></li>
              <li><a class="zawgyi" routerLink="/search">ရွာရန္</a></li>
              <li><a class="zawgyi" routerLink="/two">၂လံုး</a></li>
              <li><a class="zawgyi" routerLink="/three">၃လံုး</a></li>
              <li><a class="zawgyi" routerLink="/percent">ရာခိုင္နွုန္းခ်ိုးရန္</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-links">
      <li><a class="zawgyi" routerLink="/detail">တိုက္ရန္</a></li>
      <li><a class="zawgyi" routerLink="/search">ရွာရန္</a></li>
      <li><a class="zawgyi" routerLink="/two">၂လံုး</a></li>
      <li><a class="zawgyi" routerLink="/three">၃လံုး</a></li>
      <li><a class="zawgyi" routerLink="/percent">ရာခိုင္နွုန္းခ်ိုးရန္</a></li>
    </ul>
  
  </div>
    <div class="container">
        <h4 class="zawgyi center-text" >၂လံုး D</h4>
    </div><br><br><br>
      
                    
    <div class="container">
         <div class="row">
             <form class="col s12" #form1="ngForm">
                  <div>
                          <label>Start Date</label>
                          <input type="date" class="formControl" id="makeDate" name= "makeDate" [(ngModel)]="recordService.formData.makeDate" (ngModelChange)="onChangeStartDate($event)" [value]="makeDate" required>
                      </div>    
                 <div class="row">
                     <div class="input-field col s4">
                         <input  id= "name" type="text" class="validate hidden" name="customerName"[(ngModel)]="recordService.formData.customerName"  class="formControl">
                         <label class="zawgyi">နာမည္</label>
                     </div>
                     
                     <div class="input-field col s4">
                         <input id="phoneNumber" type="text" class="validate" name="phoneNumber" [(ngModel)]="recordService.formData.phoneNumber" class="formControl" >
                         <label class="zawgyi" for="last_name">ဖုန္းနံပါတ္</label>
                     </div>
                     <div class="input-field col s4">
                         <select id="township" class="browser-default"name="township" [(ngModel)]="recordService.formData.township" (ngModelChange)="onChangeSelectedTownship($event)">
                              <option class="zawgyi" [value]="" disabled selected>ျမို့</option>
                              <option class="zawgyi" *ngFor="let township of townships" [value]="township">{{ township }}</option>    
                          </select>
                     </div>
                     <div class="input-field col s12">
                         <textarea id="note" class="materialize-textarea" name="note" [(ngModel)]="recordService.formData.note" class="formControl"></textarea>
                         <label for="textarea1"></label>
                     </div>
                 </div>
  
             </form>
        </div>
    </div><br><br>
    <div class="container">
         <div class="row">
             <form class="col s12"  #form2="ngForm" >
                 <div class="row">
                     <div class="input-field col s3">
                         <input id="number" type="text" class="validate" name="number" [(ngModel)]="number">
                         <label class="zawgyi" for="last_name">နံပါတ္သြင္းရန္</label>
                     </div>
                     <div class="input-field col s6">
                          <label>
                              <input #dae type="radio" class="with-gap" name="group1" (change) = "onChange(dae.checked,'dae')">
                              <span class="zawgyi">Dae</span>
                          </label>
                      </div>
                      <div class="input-field col s3">
                              <label>
                                  <input #arr type="radio" class="with-gap" name="group1" (change) = "onChange(arr.checked,'arr')">
                                  <span class="zawgyi">အာ</span>
                              </label>
                          </div>
                     <div class="input-field col s3">
                         <label>
                             <input #double type="radio" class="with-gap" name="group1"  (change) = "onChange(double.checked,'double')" />
                             <span class="zawgyi">အပူး</span>
                         </label>
                     </div>
                      <div class="input-field col s3">
                         <label>
                             <input #power type="radio" class="with-gap" name="group1"  (change) = "onChange(power.checked,'power')"/>
                             <span class="zawgyi">ပါ၀ါ</span>
                         </label>
                     </div>
                     <div class="input-field col s3">
                         <label>
                             <input #natkhat type="radio" class="with-gap" name="group1" (change) = "onChange(natkhat.checked,'natkhat')" />
                             <span class="zawgyi">နကၡ</span>
                         </label>
                     </div>
                     <div class="input-field col s3">
                         <label>
                             <input #arrow_forward  type="radio" class="with-gap" name="group1"  (change) = "onChange(arrow_forward.checked,'arrow_forward')"/>
                             <span><i class="material-icons">arrow_back</i></span>
                         </label>
                     </div>
                     <div class="input-field col s3">
                         <label>
                             <input #arrow_back type="radio" class="with-gap" name="group1"  (change) = "onChange(arrow_back.checked,'arrow_back')"/>
                             <span><i class="material-icons">arrow_forward</i></span>
                         </label>
                     </div> 
                     <div class="input-field col s2">
                          <input id="amount" type="text" class="validate" name="amount" [(ngModel)]="amount">
                          <label class="zawgyi" for="last_name">ပမာဏ</label>
                      </div>
                 </div><br>
                 <div class="center-text">      
                  <button class="waves-effect waves-light btn-large brown darken-1 white-text" (click)="makeUsage(form2)">နိုတ္ရန္</button>
                 </div>
             </form>
        </div>
    </div><br><br>
    <div class="container">
        <p style="font-size: 30px;" class="zawgyi center-text">ထိုးစာရင္း</p><br><br>
        <table *ngIf ="usages" class="centered" [(ngModel)]="usages">
         <thead>
             <tr>
                 <th>နံပါတ္စဥ္</th>
                 <th>ထိုးဂဏန္း</th>
                 <th>ထိုးေငြပမာဏ(က်ပ္)</th>
                 <th>ျပင္ရန္</th>
             </tr>
         </thead>
  
         <tbody>
             <tr *ngFor="let info of usages">
                 <td>{{info.id}}</td>
                 <td>{{info.number}}</td>
                 <td>{{info.amount}}</td>
                 <td><a class="material-icons"  (click) ="removeUsage(usages,info)">delete</a></td>
             </tr>
             </tbody>
    </table>
    </div><br><br>
    <bR><br>
    <div class="center-text">
     <button type="submit"  (click) ="saveRecord(form1)" class="waves-effect waves-light btn-large brown darken-1 white-text">
              ျပီျပီ
            </button>
     </div><br><br><br>
     <script>
          $(document).ready(function(){
           $('.sidenav').sidenav();
        });
     </script> -->

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container-fluid navbar-fixed" style="padding:0;margin:0;">
    <nav>
        <div class="nav-wrapper brown darken-1 white-text">
            <a routerLink="/home" style="padding-left: 30px" class="brand-logo center">TOOTOO</a>
        </div>
    </nav>
</div><br><br>
<div class="container mb-0 text-center">
    <div class="row">
       
        <div class="col s3">
            <h4 class="zawgyi">၃လံုး</h4>
        </div>
        <div class="col s3">
                <label>Start Date</label>
                <input type="date" class="formControl" id="makeDate" name= "makeDate" [(ngModel)]="makeDate" (ngModelChange)="onChangeStartDate($event)" [value]="makeDate" required>   
        </div>
        <div class="col s3">
            <label class="zawgyi" for="last_name">နာမည္ အသစ္</label>
            <input id="search_name" type="text" class="validate" #id (keyup.enter)="onEnterCustomer(id.value)" [(ngModel)]="customer">
        </div>
        <div class="input-field col s4">
            <select id="customerName" class="browser-default" name="customerName" [(ngModel)]="customer"
                (ngModelChange)="onChangeSelectedCustomer($event)">
                <option class="zawgyi" [value]="" disabled selected>--</option>
                <option class="zawgyi" *ngFor="let customer of customers" [value]="customer">{{ customer }}</option>
            </select>
        </div>
        <div class="col s3">
            <input id="last_name" #value type="text" class="validate">
            <label class="zawgyi" for="last_name">ရာခိုင္နွုန္းခ်ိုးရန္</label>
        </div>  
        <div class="col s6">
            <a class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi" (click) ="onEnterRestritedValue(value.value)"  [(ngModel)]="restricedValue">နိတ္ရန္</a>
        </div>

    </div>
</div><br><br><br>
<div class="container">
    <div class="row">
            <div class="input-field col s3 zawgyi">
                    <table>
                        <thead>
                            <tr>
                                <th>နံပါတ္</th>
                                <th>ပမာဏ</th>
                                <th>ျပင္ရန္</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let info of waitingList">
                                <td>{{info.number}}</td>
                                <td class="font1">{{info.amount}}</td>
                                <td><a class="material-icons"  (click) ="removeUsageWaitingList(waitingList,info)">delete</a></td>
                            </tr>
                            <tr>
                                <td>Total : {{waitingListTotal}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        <!-- <div class="col s2">
            <input id="last_name" type="text" class="validate" [(ngModel)]="number" >
            <label class="zawgyi" for="last_name">နံပါတ္သြင္းရန္</label>
        </div>
        <div class="col s1">
            <input id="last_name" type="text" class="validate" [(ngModel)]="selectedFormat" >
            <label class="zawgyi" for="last_name">ကီး</label>
        </div>
        
        <div class="col s1">
                <input id="last_name" type="text" class="validate"#amount (keyup.enter)="onEnterAmount(amount.value)">
                <label class="zawgyi" for="last_name">ေငြပမာဏ</label>
        </div> -->
        <div class="col s1">
                <input id="last_name" type="text" class="validate" #form (keyup.enter)="onEnterForm(form.value)" [(ngModel)] ="addValue">
                <label class="zawgyi" for="last_name">နံပါတ္သြင္းရန္</label>
            </div>
        <div class="input-field col s3 zawgyi">
                <table>
                    <thead>
                        <tr>
                            <th>နံပါတ္</th>
                            <th>ပမာဏ <i class="font2">(%)</i></th>
                            <th>ျပင္ရန္</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let info of excedList">
                            <td>{{info.number}}</td>
                            <td class="font1">{{info.amount}}</td>
                            <td><a class="material-icons"  (click) ="removeUsage(excedList,info)">delete</a></td>
                        </tr>
                        <tr>
                            <td>Total :{{excedListTotal}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>    
   
</div>
<div class="container-fluid" style="width: 100%; height: 2px; background-color: #000">
    </div><br><br>
<div class="row">  
    <div class="col s3">
        <input id="last_name" type="text" class="validate" [(ngModel)]="searchValue" >
        <label class="zawgyi" for="last_name">ရွာရန္</label>
    </div>
    <div class="col-1 s3 input-field">
        <a (click)= searchRecord() class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi">နိတ္ရန္</a>
    </div>
    <div class="col s3 zawgyi">
        <table>
            <thead>
                <tr>
                    <th>နံပါတ္</th>
                    <th>ပမာဏ <i class="font2">(%)</i></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let info of searchList">
                    <td>{{info.number}}</td>
                    <td class="font1">{{info.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2 s3 input-field">
        <a (click)= saveRecord() class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi">သိမ္းရန္</a>
    </div>
    </div>
<div class="container-fluid">
    <div class="row">
       
    </div>
    <table *ngIf ="row1 && row2 && row3 && row4 && row5 && row6 && row7 && row8 && row9 && row10" class="centered" [(ngModel)]="row1">
        <tbody>
            <tr class="tb-1">
                <td *ngFor="let row of row1">{{row.number}} <i class="font2">{{row.amount}}</i></td>
            </tr>
              <tr> 
                <td *ngFor="let row of row2">{{row.number}} <i class="font2">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row3">{{row.number}} <i class="font1">{{row.amount}}</i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row4">{{row.number}} <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row5">{{row.number}} <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row6">{{row.number}}  <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td  *ngFor="let row of row7">{{row.number}} <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td  *ngFor="let row of row8">{{row.number}}<br><i class="font1">{{row.amount}}</i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row9">{{row.number}}<br><i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr>
                <td *ngFor="let row of row10">{{row.number}}<br><i class="font1">{{row.amount}}</i></td>   
        </tbody>
    </table>
    
</div>
<hr>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();


    });
</script>