

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container-fluid navbar-fixed" style="padding:0;margin:0;">
    <nav>
        <div class="nav-wrapper brown darken-1 white-text">
            <a routerLink="/home" style="padding-left: 30px" class="brand-logo center">TOOTOO</a>
        </div>
    </nav>
</div><br><br>
<div class="container mb-0 text-center">
    <div class="row">
            <div class="col s3">
                    <h4 class="zawgyi">၂လံုး</h4>
            </div>
            <div class="col s3">
                <label>Start Date</label>
                <input type="date" class="formControl" id="makeDate" name= "makeDate" [(ngModel)]="makeDate" (ngModelChange)="onChangeStartDate($event)" [value]="makeDate" required>   
            </div>
        <!-- <div class="col s3">
            <label class="zawgyi" for="last_name">နာမည္ အသစ္</label>
            <input id="search_name" type="text" class="validate" #id (keyup.enter)="onEnterCustomer(id.value)" [(ngModel)]="customer">
        </div>
        <div class="input-field col s4">
            <select id="customerName" class="browser-default" name="customerName" [(ngModel)]="customer"
                (ngModelChange)="onChangeSelectedCustomer($event)">
                <option class="zawgyi" [value]="" disabled selected>--</option>
                <option class="zawgyi" *ngFor="let customer of customers" [value]="customer">{{ customer }}</option>
            </select>
        </div> -->
        <div class="col s3">
            <input id="last_name" #value type="text" class="validate" >
            <label class="zawgyi" for="last_name">ရာခိုင္နွုန္းခ်ိုးရန္</label>
        </div>  
        <div class="col s3">
            <a class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi" (click) ="onEnterRestritedValue(value.value)" [(ngModel)]="restricedValue">နိတ္ရန္</a>
        </div>
        <div class="col s3">
            <a class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi" (click) ="resetForm()">စရန္</a>
        </div>

    </div>
</div><br><br><br>
<div class="container-fluid">
    <div class="row">
            <div class="input-field col s4 zawgyi">
                    <table>
                        <thead>
                            <tr>
                                <th>နံပါတ္</th>
                                <th>ပမာဏ</th>
                                <th>ျပင္ရန္</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let info of waitingList">
                                <td>{{info.number}}</td>
                                <td class="font1">{{info.amount}}</td>
                                <td><a class="material-icons"  (click) ="tgi (waitingList,info)">delete</a></td>
                            </tr>
                            <tr>
                                <td>Total : {{waitingListTotal}}</td>
                                <td><a class="material-icons"  (click) ="removeUsageALLWaitingList()">delete</a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        <!-- <div class="col s1">
            <input id="last_name" type="text" class="validate" [(ngModel)]="number" >
            <label class="zawgyi" for="last_name">နံပါတ္သြင္းရန္</label>
        </div>
        <div class="col s1">
            <input id="last_name" type="text" class="validate" [(ngModel)]="selectedFormat" >
            <label class="zawgyi" for="last_name">ကီး</label>
        </div>
        
        <div class="col s1">
                <input id="last_name" type="text" class="validate"#amount (keyup.enter)="onEnterAmount(amount.value)">
                <label class="zawgyi" for="last_name"></label>
        </div> -->
        <div class="col s1">
            <input id="last_name" type="text" class="validate" #form (keyup.enter)="onEnterForm(form.value)" [(ngModel)] ="addValue">
            <label class="zawgyi" for="last_name">နံပါတ္သြင္းရန္</label>
        </div>
       
        <div class="input-field col s4 zawgyi">
                <table>
                    <thead>
                        <tr>
                            <th>နံပါတ္</th>
                            <th>ပမာဏ(%)</th>
                            <th>ျပင္ရန္</th>

                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let info of excedList">
                            <td>{{info.number}}</td>
                            <td class="font1">{{info.amount}}</td>
                            <td><a class="material-icons"  (click) ="removeUsageExcedList(excedList,info)">delete</a></td>
    
                        </tr>
                        <tr>
                            <td>Total : {{excedListTotal}}</td>
                            <td><a class="material-icons"  (click) ="removeUsageALLExcedList()">delete</a></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>    
   
</div>
<div class="container-fluid" style="width: 100%; height: 2px; background-color: #000">
    </div><br><br>
<div class="row">  
    <div class="col s3">
        <input id="last_name" type="text" class="validate" #searchValue (keyup.enter)="searchRecord(searchValue.value)">
        <label class="zawgyi" for="last_name">ရွာရန္</label>
    </div>
    <div class="col s3 zawgyi">
        <table>
            <thead>
                <tr>
                    <th>နံပါတ္</th>
                    <th>ပမာဏ <i class="font2">(%)</i></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let info of searchList">
                    <td>{{info.number}}</td>
                    <td class="font1">{{info.amount}}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s3 input-field">
        <a (click)= saveRecord() class="waves-effect waves-light btn-sm brown darken-1 white-text zawgyi">သိမ္းရန္</a>
    </div>
    </div>
<div class="container-fluid">
    <div class="row">
    <table *ngIf ="row1 && row2 && row3 && row4 && row5 && row6 && row7 && row8 && row9 && row10" class="centered" [(ngModel)]="row1">
        <tbody>
                <tr class="tb-1"> 
                        <th>နံပါတ္ 0 </th>
                        <th>နံပါတ္ 1</th>
                        <th>နံပါတ္ 2</th>
                        <th>နံပါတ္ 3</th>
                        <th>နံပါတ္ 4</th>
                        <th>နံပါတ္ 5</th>
                        <th>နံပါတ္ 6 </th>
                        <th>နံပါတ္ 7</th>
                        <th>နံပါတ္ 8</th>
                        <th>နံပါတ္ 9 </th>
                        </tr>
            <tr class="tb-1" id="n0">
                <td *ngFor="let row of row1">{{row.number}} :<i class="font2">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n1"> 
                <td *ngFor="let row of row2">{{row.number}} : <i class="font2">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n2">
                <td *ngFor="let row of row3">{{row.number}} : <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n3">
                <td *ngFor="let row of row4">{{row.number}} :<i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n4">
                <td *ngFor="let row of row5">{{row.number}} :<i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n5"> 
                <td *ngFor="let row of row6">{{row.number}} : <i class="font1">{{row.amount}}</i></td>
            </tr>
              <tr class="tb-1"  id="n6">
                <td  *ngFor="let row of row7">{{row.number}} :<i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n7">
                <td  *ngFor="let row of row8">{{row.number}}: <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n8">
                <td *ngFor="let row of row9">{{row.number}}: <i class="font1">{{row.amount}} </i></td>
            </tr>
              <tr class="tb-1"  id="n9">
                <td *ngFor="let row of row10">{{row.number}} :<i class="font1">{{row.amount}}</i></td>  
            </tr> 
        </tbody>
    </table>
    
</div>
<hr>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();


    });
</script>